page-categories-ar {
        .post_card{
            //margin-bottom: 25px;
            // width: 100%;
            // position: relative;
            text-align: right;
            padding: 0!important;
            background-color: #FDFDFD;
        }
    
        .ion-content{
            background-color: #000000;
        }
        .card-content{
            line-height: 2;
            padding: 10px 10px 35px 10px;
        }
        .card-title{
            color: #201344;
            font-weight: bold;
        }
        .read-more-btn{
            margin: 15px 20px;
            float: right;
        }
        .slide-img{
            width: 100%;
        }
        .swiper-slide img{
            width: 100%;
        }
        hr{
            margin:30px;
        }
    
        .slide-title{
            text-transform: uppercase;
            line-height: 1.5 !important;
            color: #fff !important;
            font-weight: bold !important;
        }
    
        .card-slide{
            margin: 0;
            width: 100%;
            position: relative;
            margin-bottom: 40px;
            background-color: #201344;
        }
          .dark_bg{
            background-color:rgba(0, 0, 0, 0.8);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
    
        .about-content-card{
            margin-bottom: 0;
        }
        .modal-card{
            position: fixed;
            bottom: 0;
            width: 100% !important;
            margin: 0;
        }
        .follow-us{
            color: #fff;
            text-align: center;
        }
    
        .row-icons{
            margin: 0 auto;
        }
        .row-icons .icon {
            color: #fff;
            font-size: 1.9em;
            margin: 0 10px;
        }
        .row-grid{
            background-color: #201344;
        }
        .card p {
            margin: 0 0 2px;
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 1.5;
            color: #222;
            line-height: 2;
        }
        .about-title{
            color: #201344;
            font-weight: bold;
            font-size: 1.7em;
        }
        .title{
            color: #fff;
        }
        .no-post-div{
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 50%;
            text-align: center;
            padding: 0 25px;
        }
        .no-post{
            font-weight: bold;
            color: #000;
        }
        .no-post-text{
            line-height: 1.5;
        }
        .no-post-icon{
            font-size: 100px;
        }

}
