page-home {
    .cat_card{
        //background-color: #CACACA;
        margin: 0px 0px 1px 0px;
        width: 100%;
        padding: 50px 0px;
        text-align: center;
        background: linear-gradient(-90deg, #342464, #342464);
    }
    .cat-name{
        font-weight: 600;
        letter-spacing: 2px;
        padding-bottom: 5px;
        font-size: 1.7em;
        color: #fff;
    }
    .post-count{
        font-weight: 400;
        padding-top: 10px;
        color: #CACACA;
    }
}
