<ion-menu [content]="content" persistent=true swipeEnabled=true>
  <ion-header>
    <ion-toolbar color="logo">
      <ion-title></ion-title>
      <div class="side-menu-logo">
        <img class="logo_img" src="assets/img/icon.png">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div *ngIf="!isLangToggle; else changeLang">
      <ion-list>
        <ion-item no-lines menuClose ion-item>
          <ion-label>Arabic</ion-label>
          <ion-toggle [(ngModel)]="language" (ionChange)="changeLangAR()"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-item no-lines class="cat-item" (click)="gotoHome()">
        <p>HOME</p>
      </ion-item>
      <ion-item no-lines class="cat-item" menuClose ion-item *ngFor="let cat of categories" (click)="navToCat(cat)">
        <p [innerHTML]="cat.name"></p>
      </ion-item>
      <hr>
      <ion-item no-lines class="cat-item" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <h6 class="sub">{{p.title}}</h6>
      </ion-item>
    </div>

    <ng-template #changeLang>
      <ion-list class='ion-list-ar'>
        <ion-item no-lines>
          <ion-label>Arabic</ion-label>
          <ion-toggle [(ngModel)]="language" (ionChange)="changeLangEN()" menuClose></ion-toggle>
        </ion-item>
        <ion-item no-lines class="cat-item ion-list-ar" (click)="gotoHomeAR()">
          <P>الصفحة الرئيسية</P>
        </ion-item>
        <ion-item no-lines class="cat-item ion-list-ar sub" menuClose ion-item *ngFor="let cat of categories_ar" (click)="navToCatAR(cat)">
          <p [innerHTML]="cat.name"></p>
        </ion-item>
        <hr>
        <ion-item no-lines class="cat-item ion-list-ar sub" menuClose ion-item *ngFor="let p of pages_ar" (click)="openPage(p)">
          <h6 class="sub">{{p.title}}</h6>
        </ion-item>

      </ion-list>
    </ng-template>

    <ion-card class="modal-card">
    <ion-grid class="row-grid">
      <ion-row class="row-icons">
        <ion-col (click)="goToFacebook()">
          <ion-icon name="logo-facebook" color="primary"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon (click)="goToTwitter()" name="logo-twitter" color="primary"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon (click)="goToInstagram()" name="logo-instagram" color="primary"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>