page-privacy-policy {

    .about-content-card{
        margin-bottom: 0;
    }
    .modal-card{
        //margin-bottom: 0;
    }

    .row-icons{
        margin: 0 auto;
    }
    .row-icons .icon {
        color: #fff;
        font-size: 1.9em;
        margin: 0 10px;
    }
    .row-grid{
        background-color: #201344;;
    }
    .card-md p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: #222;
        padding-bottom: 10px;
        line-height: 2;
    }
    .about-title{
        color: #201344;
        font-weight: bold;
        font-size: 1.7em;
    }


}
