<ion-header>

  <ion-navbar *ngFor="let header of posts" color="navbar">
    <ion-buttons end>
      <ion-buttons class="modal-close animated bounceInUp" end>
        <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <!-- <button ion-button icon-only (click)="closeModal()" class="modal-btn"> <ion-icon name='close'></ion-icon> </button> -->
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{header.title.rendered}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main-content">
  <ion-card class="modal-card" *ngFor="let post of posts">
    <h2 class="post-title" [innerHTML]="post.title.rendered"></h2>
    <img class="post-img" [src]="post.better_featured_image.source_url" />

    <ion-list>
      <ion-item no-lines *ngFor="let author of authorData" class="author-data">
        <!-- <ion-avatar item-start>
          <img [src]="author.avatar_urls[96]">
        </ion-avatar>
        <h2 class="autor-name">{{author.slug}}</h2> -->
      </ion-item>
    </ion-list>
    <div class="contents animated lightSpeedIn" [innerHTML]="post.content.rendered"></div>
  </ion-card>

</ion-content>