page-full-post {
    .post-img{
        width: 100%;
    }
    .modal-card{
        margin: 0;
        display: inline;
        background-color: #fff;
    }
    .contents{
        padding: 25px 20px 5px 20px;
        //text-align: left;
        line-height: 2;
        word-spacing: 4px;
        background-color: #fff;
    }
    .card-md p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2;
    }
    .modal-close{
        position: relative;
        margin: 0;
        float: right;
        //display: block;
    }
    .modal-btn {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #201344;
    }
    .post-title{
        padding: 25px 20px;
        text-align: left;
        color: #fff;
        font-weight: 200;
        font-size: 1.6em;
        background-color: #201344;;
        margin: 0;
        line-height: 1.5;
    }
    .row-icons{
        margin: 0 auto;
    }
    .row-icons .icon {
        color: #fff;
        font-size: 1.9em;
        margin: 0 10px;
    }
    .main-content{
        background-color: #F1EEEE;
        padding: 10px;
    }
    .row-grid{
        background-color: #201344;;
    }
    .author-data{
        padding-top: 15px;
    }
    .autor-name{
        font-weight: bold;
    }
}
